@{
    ViewBag.Title = "Knowledge Sharing";
}
<div class="contentwrapper main-content clear-fix">
    <aside>
        <h3>Developing log</h3>
        <p>
            This is a demo of bootstrap.
        </p>
        <ul class="nav nav-list">
            <li class="nav-header">Start @@ 8/30/2013 </li>
            <li class="nav-header"><a href="https://github.com/vivijiang/Vfront">View on Git Hub</a></li>
            <li class="divider"></li>
            <li class="nav-header">Libs: </li>
            <li>
                Jquery/Bootstrap
            </li>
        </ul>
                <ul class="nav nav-list">
            <li class="nav-header">Components</li>
            <li class="nav-header">Libs: </li>
            <li>
                ElastislideEnhance
            </li>
        </ul>
    </aside>
</div>
