@{
    ViewBag.Title = "Home Page";
    
}
<div class="contentwrapper clearfix">

    <div class="">
        @*            <div class="row-fluid ">
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
              <div class="span1">1</div>
            </div>*@
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <img src="~/Content/img/sys/odin_logo.jpg" alt="EF Parents Product Logo">
                        <section class="contentwrapper">
                            <ul class="nav nav-list">
                                <li class="nav-header">Pages</li>
                                <li>
                                    <a class="shadowlnk" href="http://currentodin.ef.com">Current </a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://odinplus-staging.ef.com">Staging </a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://odinplus-staging.ef.com">Live </a>
                                </li>
                            </ul>
                            <ul class="nav nav-list">
                                <li class="nav-header">Deploy env</li>
                                <li>
                                    <a class="shadowlnk" href="http://currentodin.ef.com">Current</a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://odinplus-staging.ef.com">Staging</a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://odinplus-staging.ef.com">Live </a>
                                </li>
                            </ul>
                            <ul class="nav nav-list">
                                <li class="nav-header">Source code</li>
                                <li>Please find in TFS
                                </li>

                            </ul>
                            <ul class="nav nav-list">
                                <li class="nav-header">Members</li>

                                <li>
                                    <span class="shadowtitl" title="PO">Jane</span>
                                </li>
                                <li>
                                    <span class="shadowtitl" title="TL">David</span>
                                </li>
                                <li></li>
                                <li>
                                    <span class="shadowtitl" title="TL">John</span>
                                </li>
                                <li>
                                    <span class="shadowtitl" title="SE">Chandler</span>
                                </li>
                                <li>
                                    <span class="shadowtitl" title="SE">Jeff</span>
                                </li>
                                <li>
                                    <span class="shadowtitl" title="SE-frontend">Vivi</span>
                                </li>
                            </ul>

                        </section>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img src="~/Content/img/sys/logo_ef1.png" alt="EF Parents Product Logo">
                        <section class="contentwrapper">
                            <ul class="nav nav-list">
                                <li class="nav-header">Pages</li>
                                <li>
                                    <a class="shadowlnk" href="http://currentparents.ef.com">Current</a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://parentsqa.ef.com">Staging</a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://parents.ef.com">Live </a>
                                </li>
                            </ul>
                            <ul class="nav nav-list">
                                <li class="nav-header">Deploy env</li>
                                <li>
                                    <a class="shadowlnk" href="http://currentparents.ef.com">Current</a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://parentsqa.ef.com">Staging</a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://parents.ef.com">Live </a>
                                </li>
                            </ul>
                            <ul class="nav nav-list">
                                <li class="nav-header">Source code</li>
                                <li>
                                    <a class="shadowlnk" href="https://stash.englishtown.com/projects/ITIS/repos/ef-parents-web/browse">Stash</a>
                                </li>

                            </ul>
                        </section>

                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img src="~/Content/img/sys/mediahub_logo.jpg" alt="EF Parents Product Logo">
                        <section class="contentwrapper">
                            <ul class="nav nav-list">
                                <li class="nav-header">Pages</li>
                                <li>
                                    <a class="shadowlnk" href="http://currentmediahub.ef.com/">Current </a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://mediahubqa.ef.com/">Staging </a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://mediahub.ef.com/">Live </a>
                                </li>
                            </ul>
                            <ul class="nav nav-list">
                                <li class="nav-header">Deploy env</li>
                                <li>
                                    <a class="shadowlnk" href="http://currentodin.ef.com">Current</a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://odinplus-staging.ef.com">Staging</a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="http://odinplus-staging.ef.com">Live </a>
                                </li>
                            </ul>
                            <ul class="nav nav-list">
                                <li class="nav-header">Others</li>
                                <li>
                                    <a class="shadowlnk" href="https://jira.englishtown.com/secure/RapidBoard.jspa?rapidView=182">Scrum board</a>
                                </li>
                                <li>
                                    <a class="shadowlnk" href="https://stash.englishtown.com/projects/ITIS/repos/ef-mediahub/browse">Stash</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </li>

            </ul>
        </div>
        <div class="row-fluid ">
            <div class="span4"><a href="http://getbootstrap.com/2.3.2/index.html"><i class="fi-home"></i>Bootstrap Homepage</a></div>
            <div class="span4"><a href="http://getbootstrap.com/2.3.2/components.html"><i class="fi-home"></i>Bootstrap Component</a></div>
            <div class="span4">
            </div>
        </div>
        <div class="row-fluid ">
            <div class="span4"><a href="http://www.bootcss.com"><i class="fi-home"></i>Bootstrap中文首页</a></div>
            <div class="span8"><a href="http://www.bootcss.com/components.html"><i class="fi-page-filled"></i>Css 组件帮助文档</a></div>
        </div>
    </div>
</div>
