@model dynamic

@{
    ViewBag.Title = "ITIS";
}

    <nav id="poster">
        <ul class="nav nav-pills circle">
            <li>
                <a href="#">Odin+
                </a>
            </li>
            <li>
                <a href="#">Media Hub
                </a>
            </li>
            <li>
                <a href="#">EF Parents
                </a>
            </li>
            <li>
                <a href="#">CODA
                </a>
            </li>
        </ul>
        <div id="itis">
            <h1>ITIS,</h1>
            <h4>Go beyond!</h4>
        </div>
    </nav>

<div class="contentwrapper clearfix" id="team">
    <div class="contentwrapper">
        <div class="row-fluid ">
            <div class="span3">
                <h2>Odin+</h2>
                <ul class="nav nav-list">
                    <li class="nav-header">Members</li>

                    <li>
                        <span class="shadowtitl" title="PO">Jane</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="TL">David</span>
                    </li>
                    <li></li>
                    <li>
                        <span class="shadowtitl" title="TL">John</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="SE">Chandler</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="SE">Jeff</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="SE-frontend">Vivi</span>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Pages</li>
                    <li>
                        <a class="shadowlnk" href="http://currentodin.ef.com">Current </a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="http://odinplus-staging.ef.com">Staging </a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="http://odinplus-staging.ef.com">Live </a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Deploy env</li>
                    <li>
                        <a class="shadowlnk" href="\\cns-e1devweb1\D\Web">Current</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="#">Staging</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="#">Live </a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Source code</li>
                    <li>Please find in TFS
                    </li>

                </ul>
            </div>
        </div>
        <div class="row-fluid ">
            <div class="span3">
                <h2>Media Hub</h2>
                <ul class="nav nav-list">
                    <li class="nav-header">Members</li>

                    <li>
                        <span class="shadowtitl" title="PO">Ylva</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="TL">David</span>
                    </li>
                    <li></li>
                    <li>
                        <span class="shadowtitl" title="SE">Anders</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="SE-frontend">Vivi</span>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Pages</li>
                    <li>
                        <a class="shadowlnk" href="http://currentparents.ef.com">Current</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="http://parentsqa.ef.com">Staging</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="http://parents.ef.com">Live </a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Deploy env</li>
                    <li>
                        <a class="shadowlnk" href="\\cns-e1devweb1\D\Web">Current</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="#">QA</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="#">Live </a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li>
                        <a class="shadowlnk" href="https://jira.englishtown.com/secure/RapidBoard.jspa?rapidView=182">Scrum board</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="https://stash.englishtown.com/projects/ITIS/repos/ef-mediahub/browse">Source Code</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row-fluid ">
            <div class="span3">
                <h2>EF Parents</h2>
                <ul class="nav nav-list">
                    <li class="nav-header">Members</li>

                    <li>
                        <span class="shadowtitl" title="PO">Ylva</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="TL">David</span>
                    </li>
                    <li></li>
                    <li>
                        <span class="shadowtitl" title="SE">Anders</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="SE-frontend">Vivi</span>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Pages</li>
                    <li>
                        <a class="shadowlnk" href="http://currentparents.ef.com">Current</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="http://parentsqa.ef.com">Staging</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="http://parents.ef.com">Live </a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Deploy env</li>
                    <li>
                        <a class="shadowlnk" href="\\cns-e1devweb1\D\Web">Current</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="#">QA</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="#">Live </a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li>
                        <a class="shadowlnk" href="https://jira.englishtown.com/secure/RapidBoard.jspa?rapidView=182">Scrum board</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="https://stash.englishtown.com/projects/ITIS/repos/ef-mediahub/browse">Source Code</a>
                    </li>

                </ul>
            </div>
        </div>
                <div class="row-fluid ">
            <div class="span3">
                <h2>CODA</h2>
                <ul class="nav nav-list">
                    <li class="nav-header">Members</li>

                    <li>
                        <span class="shadowtitl" title="PO">Jane</span>
                    </li>
                    <li></li>
                    <li>
                        <span class="shadowtitl" title="TL">John</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="SE">Chandler</span>
                    </li>
                    <li>
                        <span class="shadowtitl" title="SE-frontend">Vivi</span>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Pages</li>
                    <li>
                        <a class="shadowlnk" href="http://currentodin.ef.com">Current </a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="http://odinplus-staging.ef.com">Staging </a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="http://odinplus-staging.ef.com">Live </a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Deploy env</li>
                    <li>
                        <a class="shadowlnk" href="\\cns-e1devweb1\D\Web">Current</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="#">Staging</a>
                    </li>
                    <li>
                        <a class="shadowlnk" href="#">Live </a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">Source code</li>
                    <li>Please find in TFS
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>
