
html,
body {
    background: url(../img/witewall.png) repeat 0 0 scroll;
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
footer {
    height: 60px;
}

footer {
    background-color: #f5f5f5;
}

header {
    background-color: #161616;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
}

    .container .credit {
        margin: 20px 0;
    }

.content-wrapper {
    margin: 10px;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

i {
    margin: 0 5px;
}

.shadowlnk:after {
    content: "(" attr(href) ")";
    padding: 0 5px;
}

.shadowtitl:after {
    content: "(" attr(title) ")";
    padding: 0 5px;
}

/* Custom page CSS
      -------------------------------------------------- */
/* header */
#sitetitle {
    margin-right: 40px;
}

header .content-wrapper {
    display: table;
}

    header .content-wrapper > div {
        display: table-cell;
        vertical-align: middle;
    }

header .nav {
    margin-bottom: 0;
}
